/* global */

/** html **/

@font-face {
	font-family:western; src: url('../images/western.ttf'), url('../images/western.eot'); /* IE9 */
} 
body { background:url('../images/background-street.jpg') black fixed; background-size:cover; color:white; font-size:12pt; font-family:arial; }
a { color:red; }
h1 { font-family:western, oswald; font-size:3.5em; margin:0 0 .5em 0; line-height:1em; font-weight:400; }
h1 small { display:block; font-size:18pt; margin-top:-20px; }
h2 { font-family:western, oswald; font-size:2.5em; line-height:1em; font-weight:400; }
h2 a { text-decoration:none; color:black; }
h2:first-of-type { margin-top:0; }
h3 { font-family:western, oswald; font-size:2em; line-height:1em; font-weight:400; }
img { border:none; }
label { display:block; font-weight:bold; }
table { text-align:left; box-shadow:0 0 1px gray; box-shadow:1px 1px 3px gray; }
thead th { font-weight:bold; text-align:center;  }
tbody th { font-weight:bold; text-align:right; }
tfoot th { text-align:right; }
thead th, tfoot th { background:gray; color:white; }
td, th { vertical-align:top; padding:5px; }
td ul { margin:0; padding-left:1em; }
textarea { width:80%; max-width:400px; }
@media (max-width:800px) {
	table { font-size:10pt; }
}
ol li { margin-bottom:1em; }
strong { color:red; }
textarea { width:100%; max-width:400px; }

/** end html **/
	
/** classes **/

.clear { clear:both; }
.alignleft { float:left; margin:0 2em 2em 0; }
.alignright { float:right; margin:0 0 2em 2em; }
.bg { position:absolute; top:0; right:0; bottom:0; left:0; background:gray; opacity:.5; }
.bg.dark { opacity:.75; }
article { color:black; }
article .bg { opacity:1; background:white; }
.content { position:relative; }
.search-form { float:right; margin:10px 10px 0 0; }
.screen-reader-text { display:none; }
.search-submit { display:none !important; }
.center { margin-left:auto !important; margin-right:auto !important; }
.center { text-align:center; }
.cta { background:rgb(255,225,225); width:38%; padding:5%; color:black; text-align:center; }
.strike { display:inline-block; position:relative; }
.strike .line { border-bottom:2px solid red; position:relative; top:-12px; }
.featured-list { margin:0; padding:0; }
.featured-list div { position:relative; }
.featured-list div div { position:absolute; top:0; right:0; border-bottom-left-radius:100%; background:red; color:white; padding: 10px 5px 20px 20px; font-weight:bold; text-transform:uppercase; line-height:1em; }
.featured-list li { list-style:none; float:left; margin-right:1em; }
.featured-list a { text-decoration:none; color:black; }
.featured-list h3 { font-size:1.25em; font-weight:100; margin-bottom:.5em; font-family:oswald; }
.featured-list img { width:150px !important; }
.block { padding:5%; box-shadow:1px 1px 3px gray; }
.discount { box-shadow:-1px 1px 1px black; position:absolute; top:0; right:0; border-bottom-left-radius:100%; background:rgb(128,0,0); color:white; padding: 10px 5px 20px 20px; font-weight:bold; text-transform:uppercase; line-height:1em; }
.info { cursor:pointer; margin-left:2px; background:white; font-size:8pt; border-radius:50%; padding:0 4px; box-shadow:1px 1px 2px gray; display:inline-block; text-align:center; }
.caption { font-size:.75em; }

/*** mini-table ***/

.mini-table { display:table-cell; vertical-align:top; }
.mini-table img { vertical-align:top; }
@media (max-width:1000px) {
	.mini-table { display:inline-block; }
}

/*** end mini-table ***/

/*** comments ***/

.comment-respond { width:100%; }
.comment-list { padding:0; }
.comment { background:rgb(225,225,225); display:table; position:relative; }
.comment article { padding:0; display:table-row; }
.comment { width:auto; }
.comment footer { display:table-cell; margin-right:1em; width:250px; background:rgb(225,225,225); padding:3%; box-shadow:5px 5px 10px rgb(192,192,192) inset; }
.comment footer img { float:left; margin-right:1em; box-shadow:1px 1px 3px gray; width:auto !important; }
.comment footer time { font-size:10pt; }
.comment-metadata { line-height:1em; }
.comment-metadata a { color:gray; text-decoration:none; }
.comment-content { display:table-cell; padding:3%; background:white; vertical-align:top; }
.comment-content p:first-of-type { margin-top:0; }
.comment footer .says { display:none; }
.comment-notes { margin-top:0; }
.comment-reply-title, .form-allowed-tags { display:none; }
.comment-form-url { display:none; }
.reply { display:none; /* position:absolute; right:0; bottom:0; border-top-left-radius:100%; padding:10px 10px 5px 20px; box-shadow:0 0 2px white inset, 0 0 1px black; font-size:8pt; background:rgb(225,225,225); */ }
.comment .comment-respond { padding:10%; color:black; width:80%; }
@media (max-width:700px) {
	.comment footer, .comment-content { display:block; }
}

/*** end comments ***/

/*** columns ***/

.columns { overflow:hidden; }
.column { float:left; width:48%; overflow:hidden; }
.column.small { width:43%; }
.column:nth-of-type(odd) { margin-right:4%; }
@media (max-width:800px) {
	.column { float:none; width:92%; }
	.column.small { width:92%; }
}

/*** end columns ***/

/*** star ratings ***/

.ratingblock { position:relative; top:-2em; margin:-1em 0 !important; display:none; }
.category-store .ratingblock { display:block; }
.entry-content > p:nth-child(3) { display:none; }
.ratingblock strong { color:gray; font-weight:normal; }

/*** end star ratings ***/

/*** gradients ***/

header .gray, footer.gray {
	border-top:1px solid rgb(96,96,96);
	background: #323232; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzMyMzIzMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #323232 0%, #191919 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#323232), color-stop(100%,#000000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #323232 0%,#191919 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #323232 0%,#191919 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #323232 0%,#191919 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #323232 0%,#191919 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#323232', endColorstr='#000000',GradientType=0 ); /* IE6-8 */
}

.entry-content .gray, .block {
	background: rgb(245,245,245); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y1ZjVmNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkN2Q3ZDciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(245,245,245,1) 0%, rgba(215,215,215,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(245,245,245,1)), color-stop(100%,rgba(215,215,215,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(245,245,245,1) 0%,rgba(215,215,215,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(245,245,245,1) 0%,rgba(215,215,215,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(245,245,245,1) 0%,rgba(215,215,215,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(245,245,245,1) 0%,rgba(215,215,215,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#d7d7d7',GradientType=0 ); /* IE6-8 */
}

.gray th { padding:10px; }
.gray td { padding:10px; background:rgb(215,215,215); box-shadow:5px 5px 10px rgb(192,192,192) inset; }
.gray img { box-shadow:none !important; }

.button.gray, button.gray, input[type="submit"].gray { border:0; text-shadow:none; color:black; box-shadow:0 0 2px gray, 0 1px 1px 1px white inset; }
.button.gray:hover, button.gray:hover, input[type="submit"].gray:hover { border:0; box-shadow:0 0 2px gray, 0 1px 1px 1px rgb(225,225,225) inset; }

/*** end gradients ***/

/*** tabs ***/

.tabs-menu { margin:0; padding:0; overflow:hidden; }
.tabs-menu li { border-top:2px solid rgb(225,225,225); font-weight:bold; cursor:pointer; background:rgb(192,192,192); border-bottom:2px solid rgb(192,192,192); list-style:none; float:left; padding:5px 15px; border-top-right-radius:24px; margin:0 2px 0 0; font-size:10pt; }
.tabs-menu li.active { background:rgb(245,245,245); box-shadow:none; border-bottom:none; padding-bottom:7px; }
.tabs-content > div { display:none; }
.tabs-content > div.active { display:block; }

/*** end tabs ***/

/*** buttons ***/

.button, button, input[type="submit"] {
	text-shadow:1px 1px 5px rgba(0,0,0,.66); padding:20px 40px; color:white; cursor:pointer; border-radius:4px; border:1px solid rgb(128,0,0); box-shadow:0 1px 1px rgb(255,128,128) inset, 1px 1px 3px gray; display:inline-block; margin-top:.5em; font-size:1.5em; margin-bottom:.5em; font-family:oswald; text-decoration:none; transition:background .5s;
	background: #ff0000; /* Old browsers */
	background: -moz-linear-gradient(top,  #ff0000 0%, #c00000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff0000), color-stop(100%,#c00000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ff0000 0%,#c00000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ff0000 0%,#c00000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ff0000 0%,#c00000 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ff0000 0%,#c00000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0000', endColorstr='#c00000',GradientType=0 );
	 /* IE6-9 */
}
.button:hover, button:hover, input[type="submit"] {
	box-shadow:0 0px 1px rgb(255,128,128) inset;
	background: #c00000; /* Old browsers */
	background: -moz-linear-gradient(top,  #c00000 0%, #ff0000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c00000), color-stop(100%,#ff0000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #c00000 0%,#ff0000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #c00000 0%,#ff0000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #c00000 0%,#ff0000 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #c00000 0%,#ff0000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c00000', endColorstr='#ff0000',GradientType=0 ); /* IE6-9 */
}

.button.small, button.small { padding:10px 20px; font-size:1em; margin:0; }
.button.tiny, button.tiny, input[type="submit"] { padding:5px 10px; font-size:12pt; margin:0; font-size:10pt; }
@media (max-width:1000px) {
	.button, button, input[type="submit"] { padding:10px 20px; font-size:1em; }
}

button.disabled, .button.disabled, input[type="submit"].disabled { background:rgb(192,192,192); color:white; border:0; box-shadow:none; }
button.disabled:hover, .button.disabled:hover, input[type="submit"].disabled:hover { background:rgb(192,192,192); box-shadow:none; }

/*** end buttons ***/

/*** tiles ***/

.tiles { overflow:hidden; }
.tiles article { width:37%; float:left; margin-bottom:2%; }
.tiles article a { text-decoration:none; }
.tiles .ratingblock { margin-top:.75em !important; }
.tiles article h2 { font-size:2em; }
.tiles article .button { margin:-1em 0 .5em 0; }
@media (min-width:1000px) {
	.tiles article { width:19.25%; padding:2%; }
	.tiles article:nth-of-type(1), .tiles article:nth-of-type(2), .tiles article:nth-of-type(3), .tiles article:nth-of-type(5), .tiles article:nth-of-type(6), .tiles article:nth-of-type(7), .tiles article:nth-of-type(9), .tiles article:nth-of-type(10), .tiles article:nth-of-type(11), .tiles article:nth-of-type(13), .tiles article:nth-of-type(14), .tiles article:nth-of-type(15)  { margin-right:2%; }
}
@media (max-width:1000px) {
	.tiles article { margin-bottom:5%; }
	.tiles article h2 { font-weight:normal; }
	.tiles article:nth-of-type(odd) { margin-right:5%; }
}
@media (max-width:500px) {
	.tiles article h2 { font-weight:normal; }	
	.tiles article { width:90%; float:none; }
}

/*** end tiles ***/

/*** pop ***/

.black { display:none; position:fixed; top:0; right:0; bottom:0; left:0; background:black; opacity:.5; z-index:10000; }
.pop { display:none; background:white; color:black; position:fixed; z-index:10001; top:12%; right:30%; bottom:12%; left:30%; max-height:520px; padding:40px; overflow-y:auto; }
.pop .x { position:absolute; top:0; right:0; background:white; border-bottom-left-radius:100%; box-shadow:0px 0px 5px white inset; border:1px solid rgb(192,192,192); cursor:pointer; background:rgb(225,225,225); color:black; padding:5px 9px 10px 18px; }
@media (max-width:1600px ) {
	.pop { right:25%; left:25%; }
}
@media (max-width:1300px ) {
	.pop { right:18%; left:18%; }
}
@media (max-width:1000px ) {
	.pop { right:10%; left:10%; }
}
@media (max-width:600px ) {
	.pop { right:5%; left:5%; }
}

.pop input[type="text"] { width:100%; }
/*** end pop ***/

/** end classes **/

/* end global */

/* header */

.home-link { text-decoration:none; margin-bottom:1.5em; display:block; overflow:hidden; }
#home-link-image { display:inline-block; float:left; margin-right:1em; }
#home-seals, #header-seals { float:left; }
#home-symbols, #header-symbols { position:absolute; right:0; top:0; }
@media (max-width:725px) {
	#header-symbols { display:none; }
	#home-seals { float:none; }
	#home-symbols { display:none; }
}
@media (max-width:500px) {
	#header-seals, #home-seals { display:none; }
}
@media (max-width:350px) {
	#home-link-image { display:none; }
}
#home-link-text { float:left; }
#logo { font-family:oswald; font-size:2em; color:white; text-shadow:0 0 15px red; }
.site-description { font-size:1.04em; font-weight:400; margin:0; line-height:1em; }
#page { max-width:1000px; margin:0 auto; }
#primary { position:relative; }

/** navbar **/

#navbar { overflow:hidden; position:relative; z-index:10; box-shadow:0 0 20px black; }
#site-navigation li { list-style:none; float:left; margin:0; }
#site-navigation li a { display:block; padding:10px 20px; color:white; text-decoration:none; font-family:oswald; transition:background .5s;  }
#site-navigation li a:hover { background:black; }
#site-navigation #menu-button { display:none; }
#site-navigation .clear { display:none; }
@media (max-width:800px) {
	#site-navigation .clear { display:block; }
	#site-navigation #menu-button { display:block; float:left; clear:right; }
	#site-navigation .menu { display:none; }
	#site-navigation li { float:none; }
}

/** end navbar **/

/* end header */

/* content */
#content { position:relative; padding:5% 5% 0; border:1px solid rgb(64,64,64); }
article { padding:5%; margin-bottom:5%; position:relative; box-shadow:1px 1px 30px rgb(32,32,32); }
#content img { max-width:400px; width:100%; height:auto; box-shadow:2px 2px 6px gray; }

/* end content */

/* footer */

.site-footer { text-align:center; padding:2%; box-shadow:0 0 40px black; position:relative; }
.site-footer a { color:white; text-decoration:none; }
.site-footer a:hover { text-decoration:underline; }
.site-info { color:rgb(192,192,192); font-size:9pt; }

/* end footer */

/* pages */

/** home **/

#home-hero { width:100%; height:auto; }
#home-hero-container { position:relative; }
#home-hero-icons { position:absolute; top:0; left:0; padding:1em; }
/*#home-hero-icons img:nth-of-type(1), #home-hero-icons img:nth-of-type(2) {  }*/
#home-hero-offer-banner { display:none; padding:10px; background:rgb(128,0,0); color:white; text-shadow:1px 1px 3px black; text-align:center; position:relative; z-index:10; }
#home-hero-container .bg { background:black; opacity:.75; }
#home-hero-offer { position:absolute; top:0; right:0; z-index:1; }
#home-hero-container a { color:white; text-decoration:none; }
#home-hero-caption { position:absolute; bottom:0; left:0; right:0; padding:20px 40px; }
#home-hero-caption h2 { position:absolute; top:5px; left:5px; }
#home-hero-caption img { width:100%; max-width:649px; }
#home-hero-container .button { float:right; position:relative; padding:7px 40px; margin:0; box-shadow:none; }
@media (max-width:1000px) {
	#home-hero-icons { position:absolute; bottom:0 !important; top:auto; }
	#home-hero-caption h2 { position:relative; display:block; margin:0 auto; }
	#home-hero-container .button, #home-hero-caption img { float:none; }
	#home-hero-offer { display:none; }
	#home-hero-offer-banner { display:block; }
	#home-hero-caption .bg { display:none; }
	#home-hero-caption { padding:10px 20px; text-align:center; position:static !important; background:black; }
}
@media (max-width:600px) {
	#home-hero-icons { text-align:center; position:static; background:black; }	
}
@media (min-width:900px) {
	.home #content { padding:2% 2% 0; }
}

/** end home **/
	
/** bundle **/

.page-id-404 #navbar { padding:5px; }
.page-id-404 #navbar nav { display:none;}
.page-id-404 #home-hero-caption { min-height:50px; }
.page-id-404 #content { padding:0; }
#post-404 > div:nth-child(2) > header:nth-child(1) > h1:nth-child(1) { margin-bottom:0; }
#post-404 > div:nth-child(2) > div:nth-child(2) > h2:nth-child(1) { margin-bottom:0; }
.page-id-404 #content #content { border:none; }
.page-id-404 #content #content article { padding:0; background:none; box-shadow:none; }
.page-id-404 #content #content article .bg { background:none; }
.page-id-404 #content #content article button, .page-id-404 #content #content article a.button { display:none; }
.page-id-404 .block .block { background:white; }
.page-id-404 .block .tabs-menu .active { background:white; }
.page-id-404 .comment { box-shadow:1px 1px 3px gray; }
.page-id-404 .comment footer { background:rgb(245,245,245); box-shadow:none; }
	
/** end bundle **/
	
/** store **/
	
@media (min-width:900px) {
	.archive.category-store #content { padding:2%; }
}
#post-13 > div:nth-child(2) > header:nth-child(1) > div:nth-child(3) { margin-top:27px; }

/** end store **/

/** checkout **/

.s2member-pro-paypal-form { max-width:400px; }
.s2member-pro-paypal-form input, .s2member-pro-paypal-form select { max-width:200px; }
#s2member-pro-paypal-sp-checkout-form > p:nth-child(9), #s2member-pro-paypal-sp-checkout-form-description-div { display:none; }
#s2member-pro-paypal-sp-checkout-coupon-apply { width:auto; }
#s2member-pro-paypal-sp-checkout-form > p:nth-child(7) { display:none; }
.s2member-pro-paypal-form select#s2member-pro-paypal-sp-checkout-options { max-width:inherit !important; }
.s2member-pro-paypal-sp-checkout-form-section-title { display:none; }

/** end checkout **/
	
/** downloads **/
	
img[width="1"] { box-shadow:none !important; width:1px !important; height:1px !important; }
	
/** end downloads **/

/* end pages */