@font-face {
	font-family:western; src: url('../images/western.ttf'), url('../images/western.eot'); /* IE9 */
} 
html { background:gray; }
body { position:absolute; top:20px; right:0; bottom:-40px; left:0; margin:0; }
article { max-width:600px; padding:5%; background:white; margin:0 auto; box-shadow:5px 5px 20px rgb(64,64,64); }
h1 { margin:0; font-family:western; font-size:3.5em; font-weight:normal; }
h2 { margin:0; font-family:western; font-size:2.5em; font-weight:normal; }
h3 { margin:0; font-family:western; font-size:1.5em; font-weight:normal; }
h5 { font-size:1.5em; margin:0; font-family:western; }
.center { text-align:center; }
ol li { margin-bottom:1em; }
img { width:90%; height:auto; }

/* classes */

.clear { clear:both; }

/* end classes */
